<!-- <mat-card>
    <mat-card-title> Editar Operação </mat-card-title>
    <mat-card-content>
  
      <div class="conteudo-operacoes">
        <mat-form-field appearance="fill">
          <mat-label>Selecione o Usuario</mat-label>
          <mat-select [(ngModel)]="usuarioid" name="usuarioid">
            <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
              {{usuario.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="conteudo-operacoes">
        <mat-form-field appearance="fill">
          <mat-label>Selecione a Corretora</mat-label>
          <mat-select [(ngModel)]="corretoraid" name="corretoraid">
            <mat-option *ngFor="let corretora of corretoras" [value]="corretora.id">
              {{corretora.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="conteudo-operacoes">
        <mat-form-field appearance="fill">
          <mat-label>Selecione o Papel</mat-label>
          <mat-select [(ngModel)]="papelid" name="papelid">
            <mat-option *ngFor="let papel of papeis" [value]="papel.id">
              {{papel.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="conteudo-operacoes">
        <mat-form-field appearance="fill">
          <mat-label>Selecione o Tipo de Operação</mat-label>
          <mat-select [(ngModel)]="tipooperacaoid" name="tipooperacaoid">
            <mat-option *ngFor="let tipoOperacao of tiposOperacoes" [value]="tipoOperacao.id">
              {{tipoOperacao.nome}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
  
      <mat-form-field appearance="legacy">
        <mat-label for="quantidade">Quantidade</mat-label>
        <input matInput type="text" name="quantidade" [(ngModel)]="quantidade" />
      </mat-form-field>
  
      <mat-form-field appearance="legacy">
        <mat-label for="valorUnitario">valor Unitario</mat-label>
        <input matInput type="text" name="valorUnitario" [(ngModel)]="valorUnitario" />
      </mat-form-field>
  
      <mat-form-field appearance="legacy">
        <mat-label for="valorTotal">valor Total</mat-label>
        <input matInput type="text" name="valorTotal" [(ngModel)]="valorTotal" />
      </mat-form-field>
  
    </mat-card-content>
  
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="editar()">Editar</button>
      <a mat-stroked-button routerLink=""> Listar Operações </a>
    </mat-card-actions>
  
</mat-card>
   -->